@model UMLEdit

@{
    ViewData["Title"] = "Редактирование страницы";
}

<form asp-action="Edit" asp-controller="UMLElement" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title" class="control-label">Название элемента:</label>
        <input type="text" asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Описание элмента:</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="File" class="control-label">Новая диаграмма (чтобы оставить диаграмму прежней, не надо заполнять это поле):</label>
        <input asp-for="File" class="form-control" accept="image/*" />
    </div>
    <div class="form-group">
        <label asp-for="Code" class="control-label">Программный код диаграммы:</label>
        <textarea asp-for="Code" class="form-control" style="font-family: 'Courier New';"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Tags" class="control-label">Тэги для поиска:</label>
        <textarea asp-for="Tags" class="form-control" style="font-family: 'Courier New';"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="DiagramOrElement" class="control-label">Что будет на странице?</label><br />
        @{
            if (Model.DiagramOrElement == "Element")
            {
                <input asp-for="DiagramOrElement" type="radio" value="Element" checked />
                <span>Элемент</span> <br />
                <input asp-for="DiagramOrElement" type="radio" value="Diagram" />
                <span>Диаграмма</span> <br />
            }
            else
            {
                <input asp-for="DiagramOrElement" type="radio" value="Element" />
                <span>Элемент</span> <br />
                <input asp-for="DiagramOrElement" type="radio" value="Diagram" checked />
                <span>Диаграмма</span> <br />
            }
        }
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
</form>